<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.socialcard.activity"
          android:versionCode="1"
          android:versionName="1.0">
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="18" />
    <!-- !-->

<uses-permission android:name="android.permission.NFC" />
<!--  <uses-sdk android:minSdkVersion="14" />   !-->
    <uses-feature android:name="android.hardware.nfc" />
    <application
            android:icon="@drawable/icon1"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="com.socialcard.myapp.MyApplication">
        <activity
                android:name=".MainActivity"
                android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".PrimaryActivity"
                android:label="primary"/>
        <activity
                android:name=".SortMainEditActivity"
                android:label="primary"/>


        <activity
                android:name=".ButtonActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:label="button"/>
        <activity android:name=".ExportActivity"
                  android:label="ExportActivity"
                ></activity>
        <activity android:name=".MyCameraActivity"
                  android:label="MyCameraActivity"
                ></activity>
        <activity android:name=".ContactsActivity"
                  android:label="ContactsActivity"
                  ></activity>
        <activity
                android:name=".InputActivity"
                android:label="input"/>
        <activity android:name=".SortMainActivity"
                android:label="SortMainActivity"
                ></activity>
        <activity
                android:name=".SetActivity"
                android:label="set"/>
        <activity
                android:name=".HelperActivity"
                android:label="help"/>
        <activity
                android:name=".LoginActivity"
                android:label="login"/>
        <activity
                android:name=".ModifyActivity"
                android:label="modify"/>
        <activity
                android:name=".RegistActivity"
                android:label="regist"/>
        <activity
                android:name=".PassProActivity"
                android:label="passpro"/>
        <activity
                android:launchMode="singleTask"
                android:name=".ScanActivity"/>
        <activity
                android:name=".MipcaActivityCapture"
                android:theme="@android:style/Theme.NoTitleBar"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
                android:name=".MySocialCardActivity"
                android:label="MySocialCardActivity"/>
        <activity
                android:name=".CondetailActivity"
                android:label="detail"/>

        <activity android:name="com.nfc.NfcSetActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="NfcSetActivity"
                ></activity>

        <activity android:name="com.nfc.Beam"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
    <!--        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            !-->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.example.android.beam" />
            </intent-filter>
        </activity>
        <activity android:name="cn.sharp.android.ncr.NameCardRec"
                  >

        </activity>
        <activity android:name="cn.sharp.android.ncr.RecFromSdcard"
                  />
        <activity android:name="cn.sharp.android.ncr.NamecardImageGallery"

                  android:screenOrientation="portrait"
                  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale" />
        <activity android:name="cn.sharp.android.ncr.DisplayRecResult"
                  >
            <intent-filter>
                <action android:name="cn.sharp.android.ncr.DisplayRecResult" />
            </intent-filter>
        </activity>
        <activity android:name="cn.sharp.android.ncr.StaticRecFromCamera"
                  android:screenOrientation="landscape"
                  android:theme="@style/CameraPreview"
                  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale">
        </activity>
        <activity android:name="cn.sharp.android.ncr.PrefSettings"
                  />
        <activity android:name=".FindpsdActivity" android:label="find"/>
    </application>



</manifest>
